<!DOCTYPE html>
<head>
    <title>To Do App</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/layout.css" type="text/css">
    <link rel="stylesheet" href="css/header.css" type="text/css">
    <link rel="stylesheet" href="css/typography.css" type="text/css">
    <script src="vendor/ember/jquery.js"></script>
    <script src="vendor/ember/ember-compiler.js"></script>
    <script src="vendor/ember/ember.js"></script>
    <script src="js/core.js"></script>
</head>
<body>
    {{{body}}}
</body>
</html>
