    <header class="text-center">
        <h1>To Do!</h1>
    </header>
    <main>
        <div class="container task-box">
            <h3 class="text-center">Tasklist:</h3>
            <div id="task-list">
                <button class="btn-warning btn pull-right">Get Tasks</button>
                <script type="text/x-handlebars">
                {{outlet}}
                </script>
            </div>
            <div class="btn-box text-center">
                <button class="btn-success btn">Add</button>
                <button class="btn-danger btn">Remove</button>
                <button class="btn-primary btn">Edit</button>
            </div>
        </div>
    </main>
    <footer class="col-md-12">
        <img src="">
    </footer>

<script type="text/x-handlebars" data-template-name="index">
<h1>trees</h1>
    <ul>
    {{#each model as |task|}}
      <li>{{task}}</li>
    {{/each}}
    </ul>
 </script>
