<!DOCTYPE html>
<head>
    <title>To Do App</title>
    <link rel="stylesheet" href="vendor/bootstrap/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/layout.css" type="text/css">
    <link rel="stylesheet" href="css/header.css" type="text/css">
    <link rel="stylesheet" href="css/typography.css" type="text/css">
    <script src="vendor/ember/jquery.js"></script>
    <script src="vendor/ember/ember-compiler.js"></script>
    <script src="vendor/ember/ember.js"></script>
    <!--<script src="http://builds.emberjs.com/tags/v2.10.1/ember.prod.js"></script>-->
    <script src="http://builds.emberjs.com/tags/v2.10.0/ember-data.prod.js"></script>
    <script src="js/core.js"></script>
</head>
<body>
    <header class="text-center">
        <h1>To Do!</h1>
    </header>
    <main>
        <div class="container task-box">
            <h3 class="text-center">Tasklist:</h3>
            <div class="task-list">
                <button class="btn-warning btn pull-right">Get Tasks</button>
                <script type="text/x-handlebars">
                    {{outlet}}
                </script>
            </div>
            <div class="btn-box text-center">
                <button {{action "test"}} class="btn-success btn">Add</button>
                <button class="btn-danger btn">Remove</button>
                <button class="btn-primary btn">Edit</button>
            </div>
        </div>
    </main>
    <footer class="col-md-12">
        <img src="">
    </footer>

    <script type="text/x-handlebars" data-template-name="index">
        <ul>

        {{#each model.data as |task|}}
          <li>{{task.taskId}}) {{task.name}}: {{task.definition}}</li>
        {{/each}}
        </ul>
     </script>

</body>
</html>
