header h1 {
    color: #DCAF73;
    font-size: 80px;
    text-shadow: 5px 5px #8F350E;
    margin-top: 60px;
}

.task-box {
    color: #D0A469;
    font-size: 20px;
    text-shadow: 2px 2px #8F350E;
}

.task-box h3 {
    font-size: 30px;
}

.btn {
    color: #8F350E;
}

.btn.hover {
    color: #D0A469;
}